<h1>PICTURE INDEX PAGE</h1>
<h3 style="color: red; margin-left: 150px; margin-right: 150px;"> Still working on getting a production environment database set up. Everything thing works but pictures will vanish into thin air after being uploaded</h3>


<a class="btn btn-default" href="posts/new" role="button">Upload a Picture</a>

<br>

<div class="posts-wrapper row">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @user %>

      </div>
    </div>
    <div class="image center-block">
<%= "DATABASE FILE PATH FOR POST.IMAGE:" %><br>
<%= post.image%>

<%= image_tag post.image %>

      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <p class="caption">
      <%= "Caption:" %>
      <%= post.caption %>
    </p>
  </div>
  <% end %>
</div>



<div class="posts-wrapper row">
<h1>S3 Image app TEST</h1>
 
<%= link_to "Add new post", new_post_path %>
 
<br>
 
<% @posts.each do |post| %>
  <%= post.caption %>
  <%= image_tag post.image.url(:med) %>
<% end %>
</div>


