<!DOCTYPE html>
<html>
<head>

	<title>InstoGraph</title>
	<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?libraries=places">
	</script>

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>

	
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<!--  <body onload="initMap()"> -->
<body data-no-turbolink="true">
	<!-- NEED FOR CCVALID FOR TO WORK WITHOUT PAGE REFRESH-->

	<%=  render 'shared/navbar' %>

	<div class="wrapper">

		<%= yield %>

		<div class="push"></div>

	</div>

	<%= render 'shared/footer' %>

</body>


</html>
